In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt

# importing the dataset

In [2]:
data = pd.read_csv("C:/Users/RHM1983/DataThon/train.csv", encoding='latin-1')

In [3]:
data.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

# checking duplicates

In [4]:
data.duplicated().sum()

0

# null check

In [5]:
data.isnull().sum()

id            0
gender        0
s11           0
s12           0
s13           0
s16           0
s17           0
s18           0
s48           0
s52           0
s53           0
s54       25694
s55       25116
s56       28322
s57       28322
s58           0
s59       28322
s69           0
s70           0
s71           0
n1            0
n2            0
n3            0
n4            0
n5            0
n6            0
n7            0
n8            0
n9            0
n10           0
n11           0
n12           0
n13           0
n14           0
n15           0
label         0
dtype: int64

In [6]:
data.corr()['label']

s13     -0.209406
s48      0.248349
s56           NaN
s57           NaN
s59           NaN
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

In [8]:
data.drop(columns=['id'], inplace=True)

In [9]:
data.head()

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s53,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,M,Y,N,1,D,D,B,0,1,,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,M,Y,Y,1,D,D,B,1,1,,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,M,Y,Y,1,D,D,B,0,1,,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,F,Y,Y,1,D,D,B,0,1,,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,M,N,Y,1,B,D,D,1,l,,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [10]:
data['s54'].value_counts()

2b    316
b2    314
a2    314
22    310
ab    297
2a    291
ba    287
bb    260
aa    239
Name: s54, dtype: int64

In [11]:
data['s55'].value_counts()

2k    405
2K    400
k2    364
K2    359
22    345
Kk    345
KK    343
kk    330
kK    315
Name: s55, dtype: int64

In [12]:
data['s16'].value_counts()

D    21028
B     6446
C      540
A      308
Name: s16, dtype: int64

In [13]:
data['s17'].value_counts()

D    24013
B     2175
C     1985
A      149
Name: s17, dtype: int64

In [14]:
data['s18'].value_counts()

B    25010
D     1612
C     1607
A       93
Name: s18, dtype: int64

In [15]:
data['s52'].value_counts()

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64

In [16]:
data['s53'].value_counts()

      25752
       2570
Name: s53, dtype: int64

# as we can see that s53 contains only < space > we are dropping s53

In [17]:
data.drop(columns=['s53'], inplace=True)

In [18]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s54,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
15405,M,Y,Y,1,D,D,B,0,1,NaN,...,-9.271890,1.517524,3.494725,7.770961,1.879465,0,0,0.748533,5,1
19871,M,Y,Y,1,D,D,B,0,1,NaN,...,-8.744920,1.785243,9.921326,6.376139,1.841623,0,1,0.189144,3,0
10932,M,N,Y,1,B,D,B,1,l,NaN,...,-9.247350,1.577111,4.066592,5.340796,1.631747,0,0,0.650386,5,0
20652,M,Y,Y,1,D,D,B,1,1,NaN,...,-9.258709,1.400296,3.896711,4.691252,1.773443,0,0,0.220703,3,0
12150,M,Y,Y,1,C,B,B,0,1,NaN,...,-9.271155,1.564590,2.630895,4.083591,1.869620,0,0,0.764072,0,0
18298,M,Y,N,1,D,D,B,1,1,NaN,...,-8.757492,1.862699,3.343882,11.039604,1.526325,0,0,0.257732,5,0
12557,M,Y,Y,1,D,B,B,1,1,NaN,...,-9.366299,1.396841,3.104636,3.351862,1.802822,0,0,0.817353,2,1
6646,M,Y,Y,1,D,D,B,0,l,NaN,...,-9.189560,1.815471,5.118287,5.066745,1.883172,0,0,0.680754,2,0
17743,F,Y,Y,1,B,D,B,0,l,NaN,...,-9.027626,1.642585,6.646974,3.829089,1.831356,0,0,0.866534,3,0
9154,M,Y,Y,1,D,D,B,0,1,NaN,...,-8.787053,1.957169,9.414791,11.616840,1.785688,0,0,0.316436,5,0
11330,M,Y,N,1,D,D,B,0,1,NaN,...,-9.127298,1.728977,4.399494,4.980818,1.723414,0,0,0.333965,0,0
6207,M,N,Y,1,B,D,D,1,l,NaN,...,-9.250069,1.536232,6.222111,4.858850,1.540394,0,0,0.975660,4,1
21043,M,Y,Y,1,B,B,C,1,l,NaN,...,-9.158771,1.517241,7.300911,8.469946,1.656449,0,0,0.904992,3,1
6598,F,Y,N,1,D,D,B,0,1,NaN,...,-9.234100,1.497170,3.733659,6.428874,1.845315,0,0,0.747732,0,0
24424,M,Y,N,1,D,D,B,0,1,NaN,...,-8.869249,1.511253,4.129391,7.058880,1.551481,0,0,0.163826,5,0
5008,M,Y,Y,1,D,D,B,1,1,NaN,...,-9.036110,1.406076,3.598379,4.741296,1.853940,0,0,0.955128,6,0
7238,M,Y,Y,1,D,D,B,1,1,NaN,...,-8.889629,1.634388,4.114659,6.204310,1.562771,0,0,0.454869,3,0
8527,M,Y,Y,1,D,D,B,1,1,NaN,...,-9.258441,1.422315,4.165514,4.199845,1.849646,0,0,0.399393,4,0
19312,M,N,Y,1,B,B,C,1,l,NaN,...,-9.243857,1.518145,6.707657,8.329989,1.711022,0,0,0.676969,2,1
24041,M,Y,N,1,D,D,B,1,1,NaN,...,-8.918079,1.773297,3.845304,4.536492,1.550127,0,0,0.237735,0,0

In [19]:
data.shape

(28322, 34)

# in the null check we can see that s54 s55 s56 s57 s59 have more than 25k+ null value do these columns are been dropped

In [20]:
data.drop(columns=['s54','s55','s56','s57','s59'], inplace=True)

In [21]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
18640,M,Y,Y,1,B,D,B,1,1,B,...,-8.700141,1.792669,5.200379,5.013010,1.521018,0,0,0.594395,4,0
18497,F,Y,Y,1,D,D,B,1,1,B,...,-9.323158,1.476397,3.622787,3.690728,1.785868,0,0,0.345241,2,0
13652,M,Y,Y,1,D,D,B,0,1,B,...,-8.655470,1.979159,8.977151,11.860968,1.844806,0,0,0.503228,3,0
4950,M,Y,Y,1,D,D,B,0,0,B,...,-8.688454,1.952911,5.648608,11.852277,1.564753,0,0,0.488478,2,0
12945,M,Y,Y,1,D,D,B,1,1,A,...,-8.670805,1.711613,8.248641,11.631534,1.614806,0,0,0.618825,3,0
1172,M,Y,Y,1,D,D,B,0,1,B,...,-9.288793,1.519069,3.622464,4.768449,1.500223,0,0,0.404907,2,0
15291,M,Y,Y,1,B,D,B,1,l,B,...,-8.841497,1.532567,3.217973,3.169604,1.654701,0,0,0.306511,0,0
1211,M,Y,Y,1,D,B,B,1,1,B,...,-8.766680,1.759194,9.124559,11.460627,1.542999,0,1,0.798805,1,0
11047,M,Y,N,1,D,D,B,0,1,B,...,-9.381060,1.480120,3.734872,3.890884,1.651238,0,0,0.261607,5,0
18199,F,Y,N,1,D,D,B,0,1,B,...,-9.382557,1.545951,5.271563,3.365236,1.644280,0,0,0.151386,4,0
19581,M,N,Y,1,D,D,B,0,1,B,...,-9.011668,1.883129,5.106884,6.443938,1.671889,1,0,0.156446,4,1
7681,M,Y,Y,1,D,D,B,0,1,B,...,-9.151265,1.846677,3.890944,7.032102,1.674316,0,0,0.940331,3,0
12416,M,Y,Y,1,D,D,B,1,1,B,...,-9.438181,1.459314,3.944241,4.682997,1.530796,0,0,0.701894,3,0
10612,M,N,Y,1,B,D,D,0,l,B,...,-9.175295,1.471294,2.825471,5.360273,1.875921,0,1,0.041928,6,1
12340,M,Y,Y,1,B,D,D,1,l,B,...,-9.183208,1.521421,3.387135,4.817961,1.743033,0,0,0.418228,4,0
14831,F,Y,Y,1,D,D,B,0,1,A,...,-9.101224,1.939399,5.150293,5.998690,1.524693,0,0,0.952003,5,0
4357,M,Y,Y,1,D,D,B,1,l,B,...,-8.818293,1.937161,3.980745,7.973490,1.849097,0,0,0.682654,0,1
934,M,Y,Y,1,B,D,B,1,1,B,...,-9.041705,1.886788,5.921775,5.745809,1.539837,0,0,0.840872,5,1
14864,M,Y,Y,1,D,D,B,0,1,A,...,-9.290446,1.487823,3.813807,4.945538,1.725639,0,0,0.443131,0,0
5546,M,N,Y,1,D,D,B,1,1,B,...,-8.781090,1.900945,5.857793,11.313081,1.729727,0,0,0.234504,2,1

In [22]:
data['s52'].value_counts()

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64

# this function is used to convert 'l' and 'o' into 1 and 0 of the column s52

In [23]:
def s52_convert(text):
    if text == '1' or text == '0':
        return text
    else:
        if text == 'l':
            return '1'
        else:
            return '0'

## convertion starts

In [24]:
data['s52mod'] = data['s52'].apply(s52_convert)

# by calling the function s52 is modified to s52mod

In [25]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n8,n9,n10,n11,n12,n13,n14,n15,label,s52mod
21659,M,Y,Y,1,B,D,B,0,l,B,...,2.101753,2.758888,7.861316,1.607893,0,0,0.608640,1,0,1
22419,M,N,Y,0,D,D,B,1,1,B,...,1.598585,3.545837,4.065904,1.553119,0,0,0.074430,2,0,1
7811,M,Y,Y,1,D,D,B,1,1,B,...,1.731693,10.414548,7.812273,1.851437,0,0,0.779192,6,0,1
8626,F,Y,Y,1,D,D,B,0,1,A,...,1.873165,6.146684,8.658560,1.834779,0,0,0.687019,5,0,1
8296,M,Y,Y,1,B,D,B,1,l,B,...,1.929534,10.626826,7.915759,1.858989,0,0,0.019988,3,0,1
724,F,Y,Y,1,D,D,B,0,1,B,...,1.497520,3.625651,6.166541,1.543956,0,0,0.461866,2,0,1
21757,M,Y,Y,1,D,D,B,0,1,B,...,1.505282,3.822098,4.747885,1.882524,0,1,0.309687,0,0,1
2254,M,Y,N,1,D,D,B,0,0,A,...,1.480079,3.667789,3.841861,1.516995,0,0,0.382005,6,0,0
21922,M,N,Y,1,B,C,C,1,l,A,...,1.774053,7.639146,7.707325,1.830279,0,0,0.214926,4,0,1
3125,F,Y,N,1,D,D,B,0,1,B,...,1.729207,3.006263,4.916819,1.677236,0,0,0.739759,0,0,1
16403,M,N,Y,1,B,D,D,1,l,B,...,1.832594,9.336342,11.388649,1.850060,0,0,0.688879,2,1,1
22841,M,N,Y,0,D,D,B,1,1,B,...,1.534906,3.362128,5.023305,1.747971,0,0,0.925540,5,0,1
11626,M,N,Y,1,B,B,D,1,l,B,...,1.791913,8.103288,5.467849,1.882624,0,0,0.982520,6,0,1
8001,M,Y,Y,1,B,D,B,1,l,B,...,1.488641,5.492848,3.645667,1.771869,0,0,0.437050,4,0,1
5863,M,Y,Y,1,B,C,C,1,l,B,...,1.936718,7.797415,5.400088,1.707911,0,0,0.730089,0,1,1
24082,M,N,Y,1,B,D,D,1,l,B,...,1.363413,3.021264,2.639700,1.720641,0,0,0.365603,1,0,1
24320,M,Y,Y,1,D,D,B,0,l,B,...,1.505348,3.591703,3.854000,1.769992,0,0,0.444015,5,0,1
8625,M,Y,Y,1,D,C,B,1,1,B,...,1.946773,3.942956,7.932715,1.532508,0,0,0.761241,1,0,1
17778,M,Y,N,1,D,D,B,0,1,B,...,1.813600,3.967637,4.961012,1.515193,0,0,0.022434,2,0,1
2701,F,Y,Y,1,D,D,B,0,1,B,...,1.612794,3.039848,4.040455,1.862402,0,0,0.160022,3,0,1

In [26]:
data['s52mod'].value_counts()

1    27032
0     1290
Name: s52mod, dtype: int64

In [27]:
data['s52mod'].astype(str).astype(int)

0        1
1        1
2        1
3        1
4        1
        ..
28317    1
28318    1
28319    1
28320    1
28321    1
Name: s52mod, Length: 28322, dtype: int32

In [28]:
data['s52mod'].value_counts()

1    27032
0     1290
Name: s52mod, dtype: int64

In [29]:
data['s52'] = data['s52mod']

In [30]:
data['s52'].value_counts()

1    27032
0     1290
Name: s52, dtype: int64

In [31]:
data.drop(columns=['s52mod'], inplace=True)

## convertion ends

In [32]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
15687,M,Y,Y,1,D,C,B,0,1,B,...,-8.622041,1.712624,8.543313,11.658462,1.650458,0,0,0.748210,1,0
21229,M,Y,Y,1,D,D,B,0,1,B,...,-8.959591,1.511205,3.475896,5.647349,1.563177,0,0,0.022270,4,0
776,M,Y,Y,1,C,D,B,1,1,B,...,-8.897755,1.682577,4.198219,4.839277,1.712892,0,0,0.669403,5,0
11950,M,Y,Y,1,B,C,D,0,1,B,...,-8.891392,1.653768,3.767739,5.519115,1.658531,0,0,0.322810,3,1
1543,M,Y,Y,1,D,D,B,0,1,B,...,-8.851273,1.911810,3.181225,9.680730,1.866800,0,0,0.145011,0,0
5060,F,Y,Y,1,D,C,B,1,1,B,...,-8.845382,1.844037,8.810749,11.336127,1.613772,0,0,0.835884,2,0
11797,M,Y,N,1,B,B,B,0,1,A,...,-9.177241,1.583230,3.422759,8.050489,1.579994,0,1,0.508235,0,0
17485,M,N,N,1,D,D,B,1,1,B,...,-9.077180,1.469956,5.070024,6.963166,1.858938,0,0,0.962130,2,0
6638,M,Y,Y,1,D,D,B,1,1,B,...,-9.338490,1.507422,6.354854,6.696957,1.690572,0,0,0.423792,6,0
27320,M,Y,Y,1,D,D,B,0,1,A,...,-8.813307,1.544293,3.864643,4.571553,1.635191,0,0,0.438901,2,0
28127,F,Y,Y,1,D,D,B,0,1,B,...,-8.770194,1.728925,9.105808,11.250418,1.843060,0,0,0.817868,3,0
24592,M,Y,Y,1,D,D,B,0,1,B,...,-9.136668,1.504920,3.478804,5.338869,1.540300,0,0,0.295638,2,0
23676,F,Y,Y,1,D,D,B,0,1,B,...,-8.746247,1.482333,3.176748,6.182706,1.516759,0,0,0.509733,1,0
6398,M,Y,Y,1,D,D,B,1,1,B,...,-9.244462,1.456273,2.844219,2.616601,1.770468,0,0,0.754516,0,0
22740,F,Y,Y,1,D,D,D,0,1,B,...,-9.310863,1.431124,8.089442,3.758796,1.727384,0,0,0.626164,5,0
3578,F,Y,N,1,D,C,B,0,1,B,...,-9.235743,1.631745,2.792911,6.302051,1.816759,0,0,0.885230,5,0
12425,M,Y,Y,1,D,D,B,0,1,B,...,-8.796371,1.884852,5.277509,7.652731,1.802777,0,0,0.126226,6,0
10026,M,Y,Y,1,D,B,B,0,1,B,...,-9.101558,1.512046,5.062553,6.453463,1.557301,0,1,0.287024,2,1
3586,M,N,Y,1,D,D,B,0,1,B,...,-9.039668,1.511644,5.537779,9.425893,1.686019,0,0,0.953149,2,0
295,M,N,Y,1,B,D,B,1,1,B,...,-8.737419,1.899951,9.130596,11.661201,1.793686,0,0,0.403260,3,1

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 29 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  28322 non-null  object
 1   s11     28322 non-null  object
 2   s12     28322 non-null  object
 3   s13     28322 non-null  int64
 4   s16     28322 non-null  object
 5   s17     28322 non-null  object
 6   s18     28322 non-null  object
 7   s48     28322 non-null  int64
 8   s52     28322 non-null  object
 9   s58     28322 non-null  object
 10  s69     28322 non-null  object
 11  s70     28322 non-null  object
 12  s71     28322 non-null  object
 13  n1      28322 non-null  float64
 14  n2      28322 non-null  float64
 15  n3      28322 non-null  int64
 16  n4      28322 non-null  float64
 17  n5      28322 non-null  float64
 18  n6      28322 non-null  float64
 19  n7      28322 non-null  float64
 20  n8      28322 non-null  float64
 21  n9      28322 non-null  float64
 22  n10     28322 non-null  float64
 23  n11     28322 non-null  float64
 24  n12     28322 non-null  int64
 25  n13     28322 non-null  int64
 26  n14     28322 non-null  float64
 27  n15     28322 non-null  int64
 28  label   28322 non-null  int64
dtypes: float64(11), int64(7), object(11)
memory usage: 6.3+ MB

In [34]:
data['s69'].value_counts()

x     21028
~1     6446
C`      540
0       308
Name: s69, dtype: int64

In [35]:
data.corr()['label']

s13     -0.209406
s48      0.248349
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

# Importing LabelEncoder from Sklearn
# library from preprocessing Module.

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le = LabelEncoder()

In [42]:
label = le.fit_transform(data['s11'])

# removing the column 'Purchased' from df
# as it is of no use now.
data.drop("s11", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data["s11"] = label
 
# printing Dataframe
data.head()

,gender,s12,s13,s16,s17,s18,s48,s52,s58,s69,...,n8,n9,n10,n11,n12,n13,n14,n15,label,s11
0,M,N,1,D,D,B,0,1,B,x,...,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0,1
1,M,Y,1,D,D,B,1,1,B,x,...,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1,1
2,M,Y,1,D,D,B,0,1,B,x,...,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0,1
3,F,Y,1,D,D,B,0,1,B,x,...,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0,1
4,M,Y,1,B,D,D,1,1,B,~1,...,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0,0

In [43]:
label = le.fit_transform(data['s12'])
# removing the column 'Purchased' from df
# as it is of no use now.
data.drop("s12", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data["s12"] = label
 
# printing Dataframe
data.head()

,gender,s13,s16,s17,s18,s48,s52,s58,s69,s70,...,n9,n10,n11,n12,n13,n14,n15,label,s11,s12
0,M,1,D,D,B,0,1,B,x,op: D,...,3.698504,4.804517,1.544484,0,0,0.631220,5,0,1,0
1,M,1,D,D,B,1,1,B,x,op: D,...,6.791357,6.110416,1.712354,0,0,0.392746,3,1,1,1
2,M,1,D,D,B,0,1,B,x,op: D,...,4.109685,3.953226,1.804260,0,0,0.222537,2,0,1,1
3,F,1,D,D,B,0,1,B,x,op: D,...,7.265876,4.559419,1.537645,0,0,0.154409,4,0,1,1
4,M,1,B,D,D,1,1,B,~1,op: D,...,3.737647,4.052003,1.637831,0,1,0.737560,1,0,0,1

In [44]:
label = le.fit_transform(data['s58'])
# removing the column 'Purchased' from df
# as it is of no use now.
data.drop("s58", axis=1, inplace=True)
 
# Appending the array to our dataFrame
# with column name 'Purchased'
data["s58"] = label
 
# printing Dataframe
data.head()

,gender,s13,s16,s17,s18,s48,s52,s69,s70,s71,...,n10,n11,n12,n13,n14,n15,label,s11,s12,s58
0,M,1,D,D,B,0,1,x,op: D,b,...,4.804517,1.544484,0,0,0.631220,5,0,1,0,1
1,M,1,D,D,B,1,1,x,op: D,b,...,6.110416,1.712354,0,0,0.392746,3,1,1,1,1
2,M,1,D,D,B,0,1,x,op: D,b,...,3.953226,1.804260,0,0,0.222537,2,0,1,1,1
3,F,1,D,D,B,0,1,x,op: D,b,...,4.559419,1.537645,0,0,0.154409,4,0,1,1,1
4,M,1,B,D,D,1,1,~1,op: D,d,...,4.052003,1.637831,0,1,0.737560,1,0,0,1,1

In [45]:
data.corr()['label']

s13     -0.209406
s48      0.248349
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
s11     -0.252741
s12      0.060475
s58     -0.005403
Name: label, dtype: float64

In [47]:
data['s70'].value_counts()

op: D    24013
op: B     2175
op: C     1985
op: A      149
Name: s70, dtype: int64

In [48]:
def op_remover(text):
    if 'A' in text:
        return 'A'
    elif 'B' in text:
        return 'B'
    elif 'C' in text:
        return 'C'
    elif 'D' in text:
        return 'D'

In [49]:
data['s70mod'] = data['s70'].apply(op_remover)

In [50]:
data.sample(20)

,gender,s13,s16,s17,s18,s48,s52,s69,s70,s71,...,n11,n12,n13,n14,n15,label,s11,s12,s58,s70mod
9655,M,1,D,C,B,1,1,x,op: C,b,...,1.715428,0,0,0.508029,1,1,1,0,1,C
22807,M,1,B,B,B,1,1,~1,op: B,b,...,1.641899,0,1,0.984772,4,1,1,1,1,B
28239,F,1,D,D,B,1,1,x,op: D,b,...,1.643894,0,0,0.015863,6,0,1,1,1,D
26106,F,1,B,D,B,1,1,~1,op: D,b,...,1.782525,0,0,0.356136,0,0,1,1,1,D
3867,F,1,D,D,B,1,1,x,op: D,b,...,1.645327,0,0,0.945813,2,0,1,1,1,D
23926,M,1,D,D,B,0,1,x,op: D,b,...,1.890886,0,0,0.144533,5,0,1,1,1,D
5809,M,1,B,D,B,0,1,~1,op: D,b,...,1.571694,0,0,0.153303,2,1,1,1,0,D
15418,M,1,D,D,B,1,1,x,op: D,b,...,1.592222,0,0,0.218033,6,1,1,1,1,D
16969,M,1,D,D,B,0,1,x,op: D,b,...,1.828043,0,0,0.894995,1,0,1,0,1,D
12292,M,1,D,D,B,1,1,x,op: D,b,...,1.821329,0,0,0.542053,3,0,1,1,1,D
11318,M,1,D,D,B,1,1,x,op: D,b,...,1.596112,0,0,0.843539,5,0,1,1,1,D
24439,F,1,D,D,B,0,1,x,op: D,b,...,1.734915,0,0,0.011770,4,0,1,1,1,D
19048,M,1,D,D,C,0,1,x,op: D,c,...,1.864039,0,0,0.256419,6,0,1,1,1,D
23766,F,1,D,D,B,1,1,x,op: D,b,...,1.532538,0,0,0.358797,4,0,1,1,1,D
1096,F,1,D,D,B,0,1,x,op: D,b,...,1.835903,0,1,0.690785,5,0,1,1,1,D
13217,F,1,D,D,B,0,1,x,op: D,b,...,1.516505,0,0,0.047665,0,0,1,1,1,D
8809,M,1,D,D,B,0,1,x,op: D,b,...,1.538334,0,0,0.745612,1,0,1,1,1,D
6853,M,1,D,D,B,0,1,x,op: D,b,...,1.851709,0,0,0.179984,0,0,1,1,1,D
4340,M,1,D,D,B,0,1,x,op: D,b,...,1.586088,0,0,0.764415,2,0,1,0,1,D
19579,F,1,D,D,B,0,1,x,op: D,b,...,1.805722,0,0,0.774817,0,0,1,1,1,D

In [ ]:
data['s70'].value_counts()