In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt

## Importing Training Dataset

In [2]:
data = pd.read_csv("C:/Users/broth/Datathon/Robi_DataThon/Rafin/train.csv", encoding='latin-1')

In [3]:
data.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

#### Checking shape of the dataset

In [4]:
data.shape

(28322, 36)

#### Checking if there are any duplicate data

In [5]:
data.duplicated().sum()

0

#### Checking null Data

In [6]:
data.isnull().sum()

id            0
gender        0
s11           0
s12           0
s13           0
s16           0
s17           0
s18           0
s48           0
s52           0
s53           0
s54       25694
s55       25116
s56       28322
s57       28322
s58           0
s59       28322
s69           0
s70           0
s71           0
n1            0
n2            0
n3            0
n4            0
n5            0
n6            0
n7            0
n8            0
n9            0
n10           0
n11           0
n12           0
n13           0
n14           0
n15           0
label         0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

In [8]:
data.corr()

,s13,s48,s56,s57,s59,n1,n2,n3,n4,n5,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
s13,1.000000,-0.107237,NaN,NaN,NaN,-0.059313,-0.059919,0.055319,0.012209,-0.090193,...,0.044618,-0.064532,-0.029764,0.035100,0.014183,0.002139,-0.006929,0.000816,-0.003288,-0.209406
s48,-0.107237,1.000000,NaN,NaN,NaN,-0.031168,-0.033586,0.051126,-0.088057,0.007119,...,0.026812,-0.010002,0.092835,0.055772,0.000968,0.003127,0.003117,0.005858,0.008473,0.248349
s56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
s59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
n1,-0.059313,-0.031168,NaN,NaN,NaN,1.000000,0.855794,0.289057,0.131877,0.166290,...,0.602224,0.662666,0.393686,0.490394,-0.004650,0.003443,0.010118,-0.002616,-0.006759,0.142913
n2,-0.059919,-0.033586,NaN,NaN,NaN,0.855794,1.000000,0.321529,0.154993,0.135346,...,0.624320,0.648843,0.401184,0.525765,-0.006222,-0.001333,0.014115,-0.002258,-0.006553,0.120631
n3,0.055319,0.051126,NaN,NaN,NaN,0.289057,0.321529,1.000000,0.222131,-0.056097,...,0.640050,0.220419,0.395780,0.604656,-0.000420,0.003415,0.002704,-0.006510,-0.005514,-0.123280
n4,0.012209,-0.088057,NaN,NaN,NaN,0.131877,0.154993,0.222131,1.000000,0.050772,...,0.223498,0.058810,0.168241,0.204752,-0.010558,0.000877,0.007066,0.000621,-0.000099,-0.069697
n5,-0.090193,0.007119,NaN,NaN,NaN,0.166290,0.135346,-0.056097,0.050772,1.000000,...,-0.093723,0.105349,0.124063,-0.160737,0.005097,-0.008544,0.001276,-0.014498,0.000468,0.183936
n6,-0.094815,-0.116692,NaN,NaN,NaN,0.081274,0.026397,-0.425036,-0.088265,0.426532,...,-0.379512,0.077969,-0.145519,-0.455716,-0.001123,-0.002986,-0.001449,-0.007769,0.005207,0.168914
n7,0.044618,0.026812,NaN,NaN,NaN,0.602224,0.624320,0.640050,0.223498,-0.093723,...,1.000000,0.500690,0.450283,0.781825,-0.002946,0.001473,0.000887,0.003437,-0.007161,-0.033714
n8,-0.064532,-0.010002,NaN,NaN,NaN,0.662666,0.648843,0.220419,0.058810,0.105349,...,0.500690,1.000000,0.289764,0.400302,-0.002946,0.003862,0.005679,-0.001934,0.001868,0.168010
n9,-0.029764,0.092835,NaN,NaN,NaN,0.393686,0.401184,0.395780,0.168241,0.124063,...,0.450283,0.289764,1.000000,0.457136,-0.012473,-0.007773,0.008989,-0.008778,0.001764,0.042518
n10,0.035100,0.055772,NaN,NaN,NaN,0.490394,0.525765,0.604656,0.204752,-0.160737,...,0.781825,0.400302,0.457136,1.000000,-0.000092,0.007479,0.009095,0.004541,-0.007330,-0.047156
n11,0.014183,0.000968,NaN,NaN,NaN,-0.004650,-0.006222,-0.000420,-0.010558,0.005097,...,-0.002946,-0.002946,-0.012473,-0.000092,1.000000,0.008861,-0.005727,0.002026,0.001145,-0.002960
n12,0.002139,0.003127,NaN,NaN,NaN,0.003443,-0.001333,0.003415,0.000877,-0.008544,...,0.001473,0.003862,-0.007773,0.007479,0.008861,1.000000,0.012025,-0.000911,-0.000948,-0.001484
n13,-0.006929,0.003117,NaN,NaN,NaN,0.010118,0.014115,0.002704,0.007066,0.001276,...,0.000887,0.005679,0.008989,0.009095,-0.005727,0.012025,1.000000,-0.002274,0.003618,0.008253
n14,0.000816,0.005858,NaN,NaN,NaN,-0.002616,-0.002258,-0.006510,0.000621,-0.014498,...,0.003437,-0.001934,-0.008778,0.004541,0.002026,-0.000911,-0.002274,1.000000,-0.007707,0.005095
n15,-0.003288,0.008473,NaN,NaN,NaN,-0.006759,-0.006553,-0.005514,-0.000099,0.000468,...,-0.007161,0.001868,0.001764,-0.007330,0.001145,-0.000948,0.003618,-0.007707,1.000000,-0.002457
label,-0.209406,0.248349,NaN,NaN,NaN,0.142913,0.120631,-0.123280,-0.069697,0.183936,...,-0.033714,0.168010,0.042518,-0.047156,-0.002960,-0.001484,0.008253,0.005095,-0.002457,1.000000

#### Data Correlation with 'label'

In [9]:
data.corr()['label']

s13     -0.209406
s48      0.248349
s56           NaN
s57           NaN
s59           NaN
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

#### Dropping s56, s57, s59 Null columns

In [10]:
data.drop(columns=['s56','s57','s59'], inplace=True)

In [11]:
data.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [12]:
data.corr()['label']

s13     -0.209406
s48      0.248349
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

#### Dropping id column

In [13]:
data.drop(columns=['id'], inplace=True)

In [14]:
data.head()

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s53,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,M,Y,N,1,D,D,B,0,1,,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,M,Y,Y,1,D,D,B,1,1,,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,M,Y,Y,1,D,D,B,0,1,,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,F,Y,Y,1,D,D,B,0,1,,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,M,N,Y,1,B,D,D,1,l,,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  28322 non-null  object
 1   s11     28322 non-null  object
 2   s12     28322 non-null  object
 3   s13     28322 non-null  int64
 4   s16     28322 non-null  object
 5   s17     28322 non-null  object
 6   s18     28322 non-null  object
 7   s48     28322 non-null  int64
 8   s52     28322 non-null  object
 9   s53     28322 non-null  object
 10  s54     2628 non-null   object
 11  s55     3206 non-null   object
 12  s58     28322 non-null  object
 13  s69     28322 non-null  object
 14  s70     28322 non-null  object
 15  s71     28322 non-null  object
 16  n1      28322 non-null  float64
 17  n2      28322 non-null  float64
 18  n3      28322 non-null  int64
 19  n4      28322 non-null  float64
 20  n5      28322 non-null  float64
 21  n6      28322 non-null  float64
 22  n7      28322 non-null  float64
 23  n8      28322 non-null  float64
 24  n9      28322 non-null  float64
 25  n10     28322 non-null  float64
 26  n11     28322 non-null  float64
 27  n12     28322 non-null  int64
 28  n13     28322 non-null  int64
 29  n14     28322 non-null  float64
 30  n15     28322 non-null  int64
 31  label   28322 non-null  int64
dtypes: float64(11), int64(7), object(14)
memory usage: 6.9+ MB

In [16]:
data['s55'].value_counts()

2k    405
2K    400
k2    364
K2    359
22    345
Kk    345
KK    343
kk    330
kK    315
Name: s55, dtype: int64

#### One Hot Encoding In column s54, s55, s58

In [17]:
one_hot_encoded_data = pd.get_dummies(data, columns = ['s55', 's58', 's54'])
one_hot_encoded_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 49 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gender  28322 non-null  object
 1   s11     28322 non-null  object
 2   s12     28322 non-null  object
 3   s13     28322 non-null  int64
 4   s16     28322 non-null  object
 5   s17     28322 non-null  object
 6   s18     28322 non-null  object
 7   s48     28322 non-null  int64
 8   s52     28322 non-null  object
 9   s53     28322 non-null  object
 10  s69     28322 non-null  object
 11  s70     28322 non-null  object
 12  s71     28322 non-null  object
 13  n1      28322 non-null  float64
 14  n2      28322 non-null  float64
 15  n3      28322 non-null  int64
 16  n4      28322 non-null  float64
 17  n5      28322 non-null  float64
 18  n6      28322 non-null  float64
 19  n7      28322 non-null  float64
 20  n8      28322 non-null  float64
 21  n9      28322 non-null  float64
 22  n10     28322 non-null  float64
 23  n11     28322 non-null  float64
 24  n12     28322 non-null  int64
 25  n13     28322 non-null  int64
 26  n14     28322 non-null  float64
 27  n15     28322 non-null  int64
 28  label   28322 non-null  int64
 29  s55_22  28322 non-null  uint8
 30  s55_2K  28322 non-null  uint8
 31  s55_2k  28322 non-null  uint8
 32  s55_K2  28322 non-null  uint8
 33  s55_KK  28322 non-null  uint8
 34  s55_Kk  28322 non-null  uint8
 35  s55_k2  28322 non-null  uint8
 36  s55_kK  28322 non-null  uint8
 37  s55_kk  28322 non-null  uint8
 38  s58_A   28322 non-null  uint8
 39  s58_B   28322 non-null  uint8
 40  s54_22  28322 non-null  uint8
 41  s54_2a  28322 non-null  uint8
 42  s54_2b  28322 non-null  uint8
 43  s54_a2  28322 non-null  uint8
 44  s54_aa  28322 non-null  uint8
 45  s54_ab  28322 non-null  uint8
 46  s54_b2  28322 non-null  uint8
 47  s54_ba  28322 non-null  uint8
 48  s54_bb  28322 non-null  uint8
dtypes: float64(11), int64(7), object(11), uint8(20)
memory usage: 6.8+ MB

In [18]:
one_hot_encoded_data.corr()['label']

s13      -0.209406
s48       0.248349
n1        0.142913
n2        0.120631
n3       -0.123280
n4       -0.069697
n5        0.183936
n6        0.168914
n7       -0.033714
n8        0.168010
n9        0.042518
n10      -0.047156
n11      -0.002960
n12      -0.001484
n13       0.008253
n14       0.005095
n15      -0.002457
label     1.000000
s55_22   -0.002568
s55_2K   -0.001782
s55_2k   -0.003235
s55_K2    0.003937
s55_KK    0.004621
s55_Kk   -0.009454
s55_k2   -0.005178
s55_kK    0.009957
s55_kk   -0.003046
s58_A     0.005403
s58_B    -0.005403
s54_22    0.004446
s54_2a   -0.010214
s54_2b   -0.000098
s54_a2    0.011026
s54_aa   -0.003270
s54_ab   -0.001776
s54_b2    0.001106
s54_ba   -0.002107
s54_bb    0.019111
Name: label, dtype: float64

In [19]:
data['s58'].value_counts()

B    25760
A     2562
Name: s58, dtype: int64

In [20]:
data.drop(columns=['s54', 's55'], inplace=True)

In [21]:
data['s52'].value_counts()

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64

In [22]:
data.corr()['label']

s13     -0.209406
s48      0.248349
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

# s53 Conversion Starts

In [23]:
data['s53'].value_counts()

      25752
       2570
Name: s53, dtype: int64

In [24]:
def s53_convert(text):
    if text == ' ':
        return '1'
    else:
        return '0'

In [25]:
data['s53'].value_counts()

      25752
       2570
Name: s53, dtype: int64

In [26]:
data['s53mod']= data['s53'].apply(s53_convert)

In [27]:
data['s53mod'].value_counts()

0    25752
1     2570
Name: s53mod, dtype: int64

In [28]:
data.corr()['label']

s13     -0.209406
s48      0.248349
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

In [29]:
data['s53']=data['s53mod'].astype(str).astype(int)

In [30]:
data.corr()['label']

s13     -0.209406
s48      0.248349
s53      0.001008
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

In [31]:
data.drop(columns=['s53'], inplace=True)

# s53 Conversion and Dropping Ends

In [32]:
data.corr()['label']

s13     -0.209406
s48      0.248349
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64