In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import matplotlib.pyplot as plt

# importing the dataset

In [4]:
data = pd.read_csv("C:/Users/RHM1983/DataThon/train.csv", encoding='latin-1')

In [6]:
data.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

# checking duplicates

In [7]:
data.duplicated().sum()

0

# null check

In [8]:
data.isnull().sum()

id            0
gender        0
s11           0
s12           0
s13           0
s16           0
s17           0
s18           0
s48           0
s52           0
s53           0
s54       25694
s55       25116
s56       28322
s57       28322
s58           0
s59       28322
s69           0
s70           0
s71           0
n1            0
n2            0
n3            0
n4            0
n5            0
n6            0
n7            0
n8            0
n9            0
n10           0
n11           0
n12           0
n13           0
n14           0
n15           0
label         0
dtype: int64

In [9]:
data.corr()['label']

s13     -0.209406
s48      0.248349
s56           NaN
s57           NaN
s59           NaN
n1       0.142913
n2       0.120631
n3      -0.123280
n4      -0.069697
n5       0.183936
n6       0.168914
n7      -0.033714
n8       0.168010
n9       0.042518
n10     -0.047156
n11     -0.002960
n12     -0.001484
n13      0.008253
n14      0.005095
n15     -0.002457
label    1.000000
Name: label, dtype: float64

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 36 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      28322 non-null  object
 1   gender  28322 non-null  object
 2   s11     28322 non-null  object
 3   s12     28322 non-null  object
 4   s13     28322 non-null  int64
 5   s16     28322 non-null  object
 6   s17     28322 non-null  object
 7   s18     28322 non-null  object
 8   s48     28322 non-null  int64
 9   s52     28322 non-null  object
 10  s53     28322 non-null  object
 11  s54     2628 non-null   object
 12  s55     3206 non-null   object
 13  s56     0 non-null      float64
 14  s57     0 non-null      float64
 15  s58     28322 non-null  object
 16  s59     0 non-null      float64
 17  s69     28322 non-null  object
 18  s70     28322 non-null  object
 19  s71     28322 non-null  object
 20  n1      28322 non-null  float64
 21  n2      28322 non-null  float64
 22  n3      28322 non-null  int64
 23  n4      28322 non-null  float64
 24  n5      28322 non-null  float64
 25  n6      28322 non-null  float64
 26  n7      28322 non-null  float64
 27  n8      28322 non-null  float64
 28  n9      28322 non-null  float64
 29  n10     28322 non-null  float64
 30  n11     28322 non-null  float64
 31  n12     28322 non-null  int64
 32  n13     28322 non-null  int64
 33  n14     28322 non-null  float64
 34  n15     28322 non-null  int64
 35  label   28322 non-null  int64
dtypes: float64(14), int64(7), object(15)
memory usage: 7.8+ MB

In [11]:
data.drop(columns=['id'], inplace=True)

In [12]:
data.head()

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s53,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,M,Y,N,1,D,D,B,0,1,,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,M,Y,Y,1,D,D,B,1,1,,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,M,Y,Y,1,D,D,B,0,1,,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,F,Y,Y,1,D,D,B,0,1,,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,M,N,Y,1,B,D,D,1,l,,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [13]:
data['s54'].value_counts()

2b    316
b2    314
a2    314
22    310
ab    297
2a    291
ba    287
bb    260
aa    239
Name: s54, dtype: int64

In [15]:
data['s55'].value_counts()

2k    405
2K    400
k2    364
K2    359
22    345
Kk    345
KK    343
kk    330
kK    315
Name: s55, dtype: int64

In [16]:
data['s16'].value_counts()

D    21028
B     6446
C      540
A      308
Name: s16, dtype: int64

In [18]:
data['s17'].value_counts()

D    24013
B     2175
C     1985
A      149
Name: s17, dtype: int64

In [19]:
data['s18'].value_counts()

B    25010
D     1612
C     1607
A       93
Name: s18, dtype: int64

In [20]:
data['s52'].value_counts()

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64

In [22]:
data['s53'].value_counts()

      25752
       2570
Name: s53, dtype: int64

# as we can see that s53 contains only < space > we are dropping s53

In [24]:
data.drop(columns=['s53'], inplace=True)

In [27]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s54,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
27904,F,Y,Y,1,D,D,B,1,1,NaN,...,-9.385668,1.489039,5.205499,3.858125,1.672404,0,0,0.535983,2,0
25252,M,Y,Y,1,D,D,B,0,1,NaN,...,-8.896398,1.652666,7.776673,10.807437,1.516502,0,0,0.614285,2,1
23258,M,Y,Y,1,B,D,B,1,l,NaN,...,-8.862817,1.862862,5.786947,6.305390,1.719713,0,0,0.957785,0,0
18432,M,Y,Y,1,D,D,B,1,0,ab,...,-9.268858,1.517292,4.790900,5.314842,1.506160,0,0,0.821747,3,0
9300,F,Y,Y,1,D,D,B,0,1,NaN,...,-9.361462,1.445625,2.827555,5.422498,1.835170,0,1,0.487321,6,0
3967,M,Y,Y,1,D,D,B,1,1,NaN,...,-8.977268,1.522225,5.006694,9.771138,1.724551,1,0,0.267399,6,0
12007,M,Y,Y,1,D,D,B,0,1,22,...,-9.317401,1.404849,3.037956,3.860088,1.882054,0,0,0.640373,6,0
24020,M,Y,Y,1,D,D,B,1,1,NaN,...,-9.350932,1.434754,3.288508,4.513602,1.874402,0,0,0.914129,2,0
15534,M,Y,Y,1,D,D,B,1,l,NaN,...,-8.974298,1.630613,4.212580,4.957066,1.840488,0,0,0.194794,0,0
6254,F,Y,Y,1,D,D,B,0,1,NaN,...,-8.776706,1.930126,9.162798,9.245057,1.566036,0,0,0.064517,1,0
8062,M,N,Y,1,B,D,D,0,l,NaN,...,-9.261392,2.000610,6.707379,6.085739,1.514168,0,0,0.773903,5,1
10016,F,Y,Y,1,D,D,B,0,1,NaN,...,-9.373974,1.576115,5.347824,3.793223,1.876626,0,0,0.517115,0,0
20776,F,Y,Y,1,D,D,B,1,1,NaN,...,-8.994799,1.501244,8.017474,6.331288,1.607184,0,1,0.083413,3,0
7093,F,Y,Y,1,D,D,B,0,1,NaN,...,-9.178486,1.582832,3.685061,6.092155,1.728245,0,0,0.243452,4,0
24073,M,Y,Y,1,D,D,B,0,1,NaN,...,-8.986509,1.749570,5.988843,6.279538,1.883356,0,0,0.488897,6,1
14040,M,Y,Y,1,D,D,B,1,1,NaN,...,-8.711873,1.699947,7.836451,11.348683,1.643294,0,0,0.245249,5,0
8908,M,Y,Y,1,D,D,B,0,1,NaN,...,-9.176611,1.464131,2.885328,4.763014,1.822422,0,0,0.137260,2,0
7645,M,Y,Y,1,D,D,B,0,1,b2,...,-9.208302,2.075368,2.933973,4.983018,1.558108,0,0,0.034769,0,0
16718,M,Y,Y,1,D,D,B,0,1,NaN,...,-9.275909,1.485159,2.883613,4.811616,1.690793,0,0,0.432445,6,0
16563,M,Y,Y,1,B,D,B,0,l,2a,...,-9.045579,1.613328,5.351130,5.932776,1.606785,0,0,0.885984,4,0

In [28]:
data.shape

(28322, 34)

# in the null check we can see that s54 s55 s56 s57 s59 have more than 25k+ null value do these columns are been dropped

In [29]:
data.drop(columns=['s54','s55','s56','s57','s59'], inplace=True)

In [30]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
528,M,N,Y,1,B,D,D,0,1,A,...,-9.127566,1.805241,3.343514,4.025865,1.788507,0,0,0.553324,1,1
1315,M,Y,Y,1,D,D,B,1,0,B,...,-9.280764,1.489364,5.104404,6.298227,1.526257,0,0,0.975739,2,1
23928,F,Y,Y,1,D,D,B,0,1,B,...,-9.269944,1.480559,3.439952,6.445443,1.856253,0,1,0.951689,5,0
22575,M,Y,Y,1,D,D,B,1,1,B,...,-9.064167,1.604516,3.841917,7.997993,1.547978,0,0,0.286096,6,0
1566,M,Y,Y,1,B,C,B,0,l,B,...,-9.080713,2.074790,4.019315,6.166032,1.771534,0,1,0.897908,0,1
12238,M,Y,N,1,D,D,B,0,0,B,...,-9.447581,1.409597,3.019218,3.766452,1.590092,0,1,0.450107,5,0
17617,M,Y,Y,1,A,C,B,0,l,B,...,-8.891152,1.746258,10.864797,11.213266,1.796476,0,0,0.378930,2,0
18671,M,Y,Y,1,D,D,B,0,0,B,...,-9.027664,1.944028,3.430169,6.378554,1.586117,0,0,0.606779,0,0
4976,M,Y,Y,1,D,D,B,0,1,B,...,-8.644113,1.683237,9.238340,11.579195,1.659971,0,0,0.035244,3,0
25502,F,Y,Y,1,D,D,B,0,1,B,...,-8.990961,1.432509,8.792004,6.197037,1.642777,0,0,0.448926,1,0
208,M,Y,N,1,D,D,B,1,1,B,...,-9.330784,1.484213,2.927452,4.817455,1.853157,1,0,0.441382,4,0
8221,F,Y,N,1,D,D,B,0,1,B,...,-9.165478,1.504947,6.530453,3.966107,1.590119,0,0,0.401613,3,0
15263,M,N,Y,1,B,D,D,1,l,B,...,-9.336125,1.380824,2.930772,3.610037,1.752454,0,0,0.855282,3,0
18928,M,Y,Y,1,D,D,B,1,0,B,...,-9.298659,1.488768,4.053730,5.438902,1.551711,0,0,0.786714,3,1
7195,M,Y,Y,1,D,D,B,0,1,B,...,-9.145441,1.462536,3.543099,6.474640,1.661888,0,1,0.465058,6,0
3023,F,Y,Y,1,B,D,B,1,l,A,...,-9.070040,1.571991,3.162049,4.554423,1.599581,0,0,0.675503,3,0
27991,M,N,Y,1,B,B,D,1,1,B,...,-9.364604,1.444090,3.054277,4.074927,1.507726,0,0,0.710965,1,1
5587,M,Y,Y,1,D,D,B,1,1,B,...,-9.161986,1.511047,4.060322,3.979303,1.501764,0,0,0.281718,6,0
25857,F,Y,Y,1,D,C,C,0,1,B,...,-9.134208,1.517405,8.550116,7.774185,1.627899,0,0,0.008901,3,0
5681,M,Y,N,1,D,D,B,1,1,B,...,-8.739646,1.566862,7.477331,10.916469,1.603744,0,0,0.903424,1,0

In [42]:
data['s52'].value_counts()

1    20524
l     6508
0     1094
o      196
Name: s52, dtype: int64

In [47]:
def fetch_processor(text):
    if text == '1' or text == '0':
        return text
    else:
        if text == 'l':
            return '1'
        else:
            return '0'

In [48]:
data['s52mod'] = data['s52'].apply(fetch_processor)

In [49]:
data.sample(20)

,gender,s11,s12,s13,s16,s17,s18,s48,s52,s58,...,n8,n9,n10,n11,n12,n13,n14,n15,label,s52mod
23643,M,Y,N,1,D,D,B,1,1,B,...,1.489527,7.137787,11.123183,1.536080,0,0,0.564072,0,1,1
17087,M,Y,Y,1,D,D,B,1,1,B,...,1.490132,3.619015,5.947495,1.788711,0,0,0.932097,5,0,1
15948,M,Y,Y,1,B,D,C,1,l,B,...,1.432938,5.985352,3.995282,1.841569,0,0,0.665463,0,1,1
6946,M,Y,Y,1,D,D,B,1,1,B,...,1.793144,3.733075,5.585702,1.621065,0,0,0.076156,1,0,1
5944,F,Y,N,1,D,D,B,0,1,B,...,1.463022,6.474225,4.513942,1.616151,0,0,0.697958,0,0,1
769,F,Y,Y,1,D,D,B,1,l,B,...,1.512152,7.146658,4.002989,1.774194,0,0,0.766672,3,0,1
4960,M,N,Y,1,D,D,D,0,1,B,...,1.541174,2.747603,6.343986,1.849104,0,0,0.601609,5,1,1
4208,M,N,Y,1,D,D,B,0,1,B,...,1.704397,5.148991,9.724138,1.604688,0,0,0.879694,6,0,1
26685,F,Y,Y,1,B,B,B,1,1,B,...,1.432479,3.166444,3.938284,1.794254,0,1,0.298165,2,0,1
217,M,Y,Y,1,D,D,B,1,0,B,...,1.474487,3.114090,5.244716,1.747893,0,0,0.583724,1,0,0
18975,M,Y,Y,1,D,D,B,1,1,B,...,1.922279,5.184993,4.453621,1.687670,0,0,0.643384,3,0,1
20687,M,N,Y,1,B,D,C,1,l,B,...,1.815444,5.366272,5.329774,1.850028,0,0,0.026896,4,1,1
14827,M,Y,Y,1,D,D,B,1,1,B,...,1.514949,3.552593,5.637468,1.664155,0,1,0.286025,3,0,1
6937,M,Y,Y,1,D,D,B,1,l,B,...,1.815452,3.788310,7.754428,1.785118,0,0,0.193749,5,1,1
1609,M,Y,Y,1,D,D,B,1,1,B,...,1.360445,5.432717,3.410812,1.645381,0,0,0.404990,5,0,1
4822,M,Y,Y,1,B,D,B,1,l,B,...,1.427899,5.676608,4.820911,1.623487,0,0,0.797508,2,0,1
6737,F,Y,N,1,D,D,B,0,1,B,...,1.485709,6.086926,3.932277,1.575918,0,0,0.405074,1,0,1
21105,F,Y,Y,1,D,D,B,0,1,B,...,1.569122,7.707922,4.698773,1.648303,0,0,0.074737,1,0,1
23699,M,Y,Y,1,D,D,B,1,l,B,...,1.710233,9.977542,4.869108,1.895310,0,1,0.960938,2,1,1
14348,M,Y,N,1,D,B,B,0,1,B,...,1.453904,2.613799,3.782498,1.885899,0,0,0.337110,3,0,1

In [50]:
data['s52mod'].value_counts()

1    27032
0     1290
Name: s52mod, dtype: int64

In [52]:
data.['s52mod'].astype(str).astype(int)

SyntaxError: invalid syntax (Temp/ipykernel_4452/1856007404.py, line 1)